{% extends "core/core_base.html" %}

{% block task_bar_right %}
    <form id="form_new_host" action="" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <a id="form_new_host_submit" href="" class="right" title="Add a new device">+ Add New Device</a>
        <input class="right" type="text" name="community" value="{% if community %}{{ community }}{% else %}Whybrow{% endif %}" placeholder="Community">
        <input class="right" type="text" name="host" value="{{ host }}" placeholder="Host Name">
    </form>
{% endblock %}

{% block content %}
    <p>
        SNMP Information will be displayed here.
    </p>
{% endblock %}